<a href="https://colab.research.google.com/github/Victory567/lab-handling-data-imbalance-classification/blob/master/Untitled_(16).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

warnings.filterwarnings('ignore')

In [ ]:
churnData = pd.read_csv('Customer-Churn.csv')

In [ ]:
churnData.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [ ]:
churnData.info

<bound method DataFrame.info of       gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0     Female              0     Yes         No       1           No
1       Male              0      No         No      34          Yes
2       Male              0      No         No       2          Yes
3       Male              0      No         No      45           No
4     Female              0      No         No       2          Yes
...      ...            ...     ...        ...     ...          ...
7038    Male              0     Yes        Yes      24          Yes
7039  Female              0     Yes        Yes      72          Yes
7040  Female              0     Yes        Yes      11           No
7041    Male              1     Yes         No       4          Yes
7042    Male              0      No         No      66          Yes

     OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingTV  \
0                No          Yes               No          No          No
1               Yes           No              Yes          No          No
2               Yes          Yes               No          No          No
3               Yes           No              Yes         Yes          No
4                No           No               No          No          No
...             ...          ...              ...         ...         ...
7038            Yes           No              Yes         Yes         Yes
7039             No          Yes              Yes          No         Yes
7040            Yes           No               No          No          No
7041             No           No               No          No          No
7042            Yes           No              Yes         Yes         Yes

     StreamingMovies        Contract  MonthlyCharges TotalCharges Churn
0                 No  Month-to-month           29.85        29.85    No
1                 No        One year           56.95       1889.5    No
2                 No  Month-to-month           53.85       108.15   Yes
3                 No        One year           42.30      1840.75    No
4                 No  Month-to-month           70.70       151.65   Yes
...              ...             ...             ...          ...   ...
7038             Yes        One year           84.80       1990.5    No
7039             Yes        One year          103.20       7362.9    No
7040              No  Month-to-month           29.60       346.45    No
7041              No  Month-to-month           74.40        306.6   Yes
7042             Yes        Two year          105.65       6844.5    No

[7043 rows x 16 columns]>

In [ ]:
null_values = churnData.isnull().sum()
churnData.fillna(0, inplace=True)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(churnData[['tenure']])
churnData['tenure_scaled'] = scaler.transform(churnData[['tenure']])

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(churnData.drop('tenure', axis=1), churnData['tenure'], test_size=0.2, random_state=42)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [ ]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(churnData[['SeniorCitizen']])
churnData['SeniorCitizen_scaled'] = scaler.transform(churnData[['SeniorCitizen']])

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(churnData.drop('SeniorCitizen', axis=1), churnData['SeniorCitizen'], test_size=0.2, random_state=42)

In [ ]:
churnData= pd.read_csv('Customer-Churn.csv')
class_counts = churnData['tenure'].value_counts()

print("Class counts:")
print(class_counts)

Class counts:
1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: tenure, Length: 73, dtype: int64

In [ ]:
import pandas as pd
from imblearn.over_sampling import RandomOverSampler

df = pd.read_csv('Customer-Churn.csv')
X = df.drop('tenure', axis=1)
y = df['tenure']

oversampler = RandomOverSampler(random_state=42)

X_resampled, y_resampled = oversampler.fit_resample(X, y)
print(pd.Series(y_resampled).value_counts())

1     613
50    613
6     613
41    613
36    613
     ...
5     613
27    613
17    613
72    613
39    613
Name: tenure, Length: 73, dtype: int64